* {
    padding: 0;
    margin: 0;
}

.red {
    color: rgb(196, 60, 60);
}


.blue {
    color: #61d2d5;
}

.pink {
    color: rgb(255, 0, 174);
}

.green {
    color: rgb(0, 255, 0);
}

.yellow {
    color: rgb(255, 255, 0);
}

.purple {
    color: rgb(163, 75, 163);
}


body {
    padding: 20px;
    position: relative;
    min-width: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, rgb(255, 0, 157), rgb(0, 255, 85));
}

p {
    margin: 20px 0;
    text-align: center; 
    width: 200px;
}

p:hover {
    color: red;
}

img {
    width: 1000px;
    height: 1000px;
    position: absolute;
    z-index: 9;
    opacity: 1;
}

.ImgAa {
    position: absolute;
    top: 100px;
    left: 10px;
    opacity: 1;

}

.ImgAb {
    position: absolute;
    top: 870px;
    left: 700px;
    opacity: 1;

}

.ImgAc {
    position: absolute;
    top: 2000px;
    left: 500px;
    opacity: 1;

}

.ImgAd {
    position: absolute;
    top: 3070px;
    left: 100px;
    opacity: 1;

}

.ImgAe {
    position: absolute;
    top: 0px;
    left: 1000px;
    opacity: 1;

}

.ImgAf {
    position: absolute;
    top: 3670px;
    left: 900px;
    opacity: 1;

}

.ImgAg {
    position: absolute;
    top: 4670px;
    left: 200px;
    opacity: 1;

}

.ImgAh {
    position: absolute;
    top: 4000px;
    left: 500px;
    opacity: 1;

}

.ImgAi {
    position: absolute;
    top: 4670px;
    left: 800px;
    opacity: 1;


    
}

.ImgAj {
    position: absolute;
    top: 5670px;
    left: 700px;
    opacity: 1;

}

.ImgAk {
    position: absolute;
    top: 6670px;
    left: 200px;
    opacity: 1;

}

.ImgAl {
    position: absolute;
    top: 7000px;
    left: 600px;
    opacity: 1;

}