.home {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 0;
    right: 0;
  }

.parent-container {
    display: grid; /* 将父元素设置为CSS Grid容器 */
    grid-template-columns: 1fr 2fr; /* 将父元素分为两列，比例为1:2 */
    grid-column-gap: 40px; /* 列之间的间距 */
  }
  
  .image-container {
    grid-column: 2 / 3; /* 将图像的容器元素放置在第2列 */
  }


  /* .video-container {
    grid-column: 2 / 3; 
  } */

  p {
    font-family:Arial, Helvetica, sans-serif;
    grid-column: 1 / 2; /* 将段落放置在第1列 */
    margin: 0; /* 清除段落的默认边距 */
    font-size: 14px; /* 设置字体大小 */
    font-weight: 400; /* 设置字体粗细 */
    line-height: 1.5; /* 设置行高 */
    color: #333; /* 设置文本颜色 */
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
  }

  .image-container img {
    width: 30%;
    height: auto;
  }
  


  .image-container {
    position: relative;
    overflow: hidden;
  }
  
  .image-container img {
    transition: transform 0.2s ease-in-out;
  }
  
  .image-container:hover img {
    transform: scale(1.1);
  }
  

/* .arrow-right {
    position: absolute;
    top: 115%;
    left: 51%;
    transform: translate(-50%, -50%);
  } */

  
  .arrow {
    font-size: 2rem; 
  }
   
 .arrow-right {
  position: fixed;
  bottom: 0;
  right: 49%;
  transform: translateX(50%);
  text-align: center;
  width: 50px;
  height: 50px;
} 

.arrow-left {
  position: fixed;
  bottom: 0;
  right: 51%;
  transform: translateX(50%);
  text-align: center;
  width: 50px;
  height: 50px;
} 




