h1, p, video, img, a, body, h2 {  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 5px 2px 0px 5px;
    font-kerning: none;
    }  
    
    a:link {color:blue;}
    a:visited {color: blue;}
    a:hover {color:yellow;}
    a:active {color:yellow;}
    a:hover {
    font-style:italic;
    color: black;
    }
    a:active {
      background-color: yellow;
      color: blue;
    }
    