name: CD

on:
  push:
    branches: [ main ]

jobs:
    deploy:
        name: Upload to Amazon S3
        runs-on: ubuntu-latest
        # These permissions are needed to interact with GitHub's OIDC Token endpoint.
        permissions:
          id-token: write
          contents: read
        steps:
        - name: Checkout
          uses: actions/checkout@v3
        - name: Configure AWS credentials from Test account
          uses: aws-actions/configure-aws-credentials@v1
          with:
            aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
            aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
            aws-region: us-west-1
        - name: Copy files to the test website with the AWS CLI
          run: |
            git lfs pull --depth=1
            aws s3 sync . s3://www.yifannn.com
